
    .carousel-item img {
        object-fit: cover;
        height: 400px; /* Set the desired height for the images */
    }

.btn-floating {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 10;
}